/* General Reset */
body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(135deg, #286a86, #0c2d67, #091939); /* Dark blue gradient */
    color: #ffffff; /* Light text for dark mode */
    display: flex;
    flex-direction: column; /* Arrange content vertically */
    justify-content: center;
    align-items: center;
    height: 100dvb;
}

/* Main Container */
.container {
    text-align: center;
}

/* Name Styling */
.name {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}

/* Links Styling */
.links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 60px; /* Add space above the Projects button */
}

/* Icons */
.icon img {
    width: 40px;
    height: 40px;
    transition: transform 0.2s;
    filter: brightness(0) invert(1); /* Invert colors for dark mode */
}

.icon img:hover {
    transform: scale(1.1);
}

/* Projects Button */
.projects-link {
    display: inline-block;
    font-size: 1.0rem;
    text-decoration: none;
    color: #133985;
    background-color: #ffffff;
    padding: 10px 30px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
    bottom: 10px;
    position: relative;
    margin-top: 20px;
}

.projects-link:hover {
    background-color: #13598e;
    color: #fff;
    transform: scale(1.05);
}
