body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
  }
  
  h1 {
    color: rgb(0, 0, 0);
    font-size: 36px;
    text-align: center;
    margin: 100px 50;
  }
  
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 24px;
    margin: 20px ;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 20;
  }
  
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(23, 130, 231);
    padding: 10px 20px;
  }
  
  nav a {
    color: rgb(232, 232, 232);
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
  }
  
  nav a:hover {
    color: white;
  }
  
    